body{
    
  background-color: rgb(255, 255, 255);
}
.head{
  display: inline-block;
  width:100%;
  height: 90px;
  white-space: nowrap;
  margin-top: 20px;
  padding: 0%;
}

.head .head1{
  display: inline-block;
  width: 50%;
  height: 50%;
  font-size: 40px;
}
.head .head1 .header {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 20%;
  height: 50%;
}
.head .head2{
  display: inline-block;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0px;
  left: 680px;
}

.head .head2 .header {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  display: inline-block;
  margin-right: 0px;
  width: 28%;
  height: 50%;
}
.head .head2 .header button{
  width: 140px;
  height: 37px;
  font-size: 17px;
  border-radius: 20px;
}
.head .head1 .header #search{
  width: 300px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
}
hr{
  padding: 0%;
  margin-left: 10px;
  background-color: #2980B9;
}
.dropbtn {
  
  color: rgb(5, 4, 4);
  padding: 16px;
  width: 182px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left:0px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left: 193px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left: 387px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left: 581px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left: 772px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content6 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left: 965px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content6 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content7 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  margin-left: 1115px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content7 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.img1
{
background-color: rgb(245, 243, 243);
border-radius: 4px;
padding: 5px;
margin-left: 100px;
margin-top: 40px;
width:1030px;
height: 360px;
box-shadow: 10px 10px 10px #ccc;
}
.img1 img
{
width:560px;
height: 360px;
margin-left:476px ;
margin-top: 0px;
padding-top: 0px;
}
.img1 :hover
{
box-shadow: 0 0 2 px 1px rgba(0,140,186,0.5);
}
.para h3
{
font-size: 38px;
margin-left: 500px;
margin-top: 50px;
color: rgb(21, 21, 29);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img2
{
background-color: rgb(245, 243, 243);
border-radius: 4px;
padding: 5px;
margin-left: 100px;
margin-top: 40px;
width:1030px;
height: 460px;
box-shadow: 10px 10px 10px #ccc;
}
.img2 img
{  
width:560px;
height: 460px;
margin-left:476px ;
margin-top: 0px;
padding-top: 0px;
}
.img2 :hover
{
box-shadow: 0 0 2 px 1px rgba(0,140,186,0.5);
}

.img3
{
background-color: rgb(245, 243, 243);
border-radius: 4px;
padding: 5px;
margin-left: 100px;
margin-top: 40px;
width:1030px;
height: 300px;
box-shadow: 10px 10px 10px #ccc;
}
.img3 img
{  
width:560px;
height: 300px;
margin-left:476px ;
margin-top: 0px;
padding-top: 0px;
}
.img3 :hover
{
box-shadow: 0 0 2 px 1px rgba(0,140,186,0.5);
}
.products
{
  display: inline-block;
  margin-top: 50px;
  margin-left: 60px;
}
.products .product1{
  display: inline-block;
  height: 460px;
  width: 270px;
  background-color: rgb(245, 241, 241);
  border: 2px solid rgb(213, 201, 201);
  box-shadow: 10px 10px 10px #ccc;
}
.products .product1 img{
  height: 280px;
  width: 215px;
  padding-left: 20px;
}
.products  p{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 20px;
}
.products  #rating
{
  margin-left: 20px;
}
.checked {
  color: orange;
}

.products .product2{
  display: inline-block;
  height: 460px;
  width: 270px;
  margin-left: 30px;
  background-color: rgb(245, 241, 241);
  border: 2px solid rgb(213, 201, 201);
  box-shadow: 10px 10px 10px #ccc;
}
.products .product2 img{
  height: 280px;
  width: 215px;
  padding-left: 20px;
}
.products .product3{
  display: inline-block;
  height: 460px;
  width: 270px;
  margin-left: 30px;
  background-color: rgb(245, 241, 241);
  border: 2px solid rgb(213, 201, 201);
  box-shadow: 10px 10px 10px #ccc;
}
.products .product3 img{
  height: 280px;
  width: 215px;
  padding-left: 20px;
}
.products .product4{
  display: inline-block;
  height: 460px;
  width: 270px;
  margin-left: 30px;
  background-color: rgb(245, 241, 241);
  border: 2px solid rgb(213, 201, 201);
  box-shadow: 10px 10px 10px #ccc;
}
.products .product4 img{
  height: 280px;
  width: 215px;
  padding-left: 20px;
}

  